mat-card {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

mat-card-content {
  h2 {
    font-size: small;
  }
}

.example-chip-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-chip-list .mat-chip {
  margin: 5px;
}