<link rel="stylesheet" href="../es.style.scss" />
<mat-card class="main_content">
  <mat-card-header>
    <h2>Completa l'oggetto con la parte mancante giusta</h2>
  </mat-card-header>
  <mat-card-content *ngIf="current_state == 0">
    <p *ngIf="errors > 0">errori: {{ errors }}</p>
    <div class="image_container">
      <img src="{{ image_link }}" class="show_image" />
      <div class="cover"></div>
    </div>
    <h2 class="dummy_container_title">Trova la parte mancante</h2>
    <div class="quarter_container">
      <div class="quarter_part">
        <img
          class="dummy_0 dummy_image"
          src="{{ dummy_container[0]?.link }}"
          (click)="checkContent(0)"
        />
      </div>
      <div class="quarter_part">
        <img
          class="dummy_1 dummy_image"
          src="{{ dummy_container[1]?.link }}"
          (click)="checkContent(1)"
        />
      </div>
      <div class="quarter_part">
        <img
          class="dummy_2 dummy_image"
          src="{{ dummy_container[2]?.link }}"
          (click)="checkContent(2)"
        />
      </div>
      <div class="quarter_part">
        <img
          class="dummy_3 dummy_image"
          src="{{ dummy_container[3]?.link }}"
          (click)="checkContent(3)"
        />
      </div>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="current_state == 1">
    <h1>Hai indovinato l'oggetto</h1>
  </mat-card-content>
  <mat-card-footer *ngIf="current_state == 1">
    <h3>Hai commesso {{ errors }} errori</h3>
  </mat-card-footer>
</mat-card>
