<link rel="stylesheet" href="../es.style.scss">

<mat-card *ngIf="step === 1" style="max-width: 1050px;align-items: center;">
  <mat-card-header>
    <mat-card-title>Trova le differenze</mat-card-title>
    <mat-card-subtitle>Attenzione e abilità visuo-percettive</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Trova le differenze tra le due immagini:</p>
    <p>Cliccare le differenze sull'immagine di destra</p>
    <p>Differenza: {{ differenzeTrovate }} / {{ totaleDifferenze }}</p>
    <div class="immagini-container">
      <img [src]="immagineSinistra" alt="Immagine sinistra" />
      <button class="overlay-button" (click)="contaErrori()"></button>
      <button
        *ngFor="let btn of generaBtns"
        class="overlay-overlay-button"
        [id]="btn.id"
        [style.bottom]="btn.bottom"
        [style.right]="btn.right"
        [style.width]="btn.width"
        [style.height]="btn.height"
        (click)="contaDifferenze('#' + btn.id)"
      ></button>
      <img [src]="immagineDestra" alt="Immagine destra" />
    </div>
  </mat-card-content>
  <mat-card-actions>
    <p style="color: gray; font-size: 17px">
      {{ (timeMillis / 1000).toFixed(0) }} s
    </p>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="step === 2" style="width: 400px; height: 120px">
  <mat-card-content>
    <p style="font-size: 20px; text-align: center">
      Hai trovato tutte le differenze!<br />
      Ben fatto!
    </p>
  </mat-card-content>
</mat-card>
