mat-card {
  width: 1100px;
}

.immagini-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  position: relative;
  background-color: transparent;
  width: 1010px;
  align-content: center;
}

mat-card img {
  width: 500px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

mat-card img.selected {
  border-color: transparent;
}

.overlay-button {
  position: absolute;
  top: 1px;
  right: 2px;
  width: 500px;
  height: 501px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.overlay-overlay-button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.livello {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
