<mat-card>
    <mat-card-header>
        <mat-card-title>Trova le differenze</mat-card-title>
        <mat-card-subtitle>Attenzione e abilità visuo-percettive</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="step === 1">
        <p>Trova le differenze tra le due immagini:</p>
        <div class="immagini-container">
            <img [src]="immagineSinistra" alt="Immagine sinistra">
            <img [src]="immagineDestra" alt="Immagine destra">
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="step === 1">
        <button mat-button (click)="checkDifferenze()">Verifica</button>
        <p style="color:gray; font-size: 10px">{{(timeMillis/1000).toFixed(0)}} s</p>
    </mat-card-actions>
    <mat-card-content *ngIf="step == 2">
        <p>Hai trovato tutte le differenze! Ben fatto!</p>
    </mat-card-content>
</mat-card>
