<p>es205 works!</p>
<mat-card *ngIf="step === 0" style="width: 300px; height: 400px;">
    <mat-card-header>
        <mat-card-title>Seleziona il Livello di Difficoltà</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p style="text-align: center;">Scegli un livello:</p>
        <div class="livelli-container">
            <button class="livello" mat-button (click)="selezionaLivello(0)">Livello 1</button>
            <button class="livello" mat-button (click)="selezionaLivello(1)">Livello 2</button>
            <button class="livello" mat-button (click)="selezionaLivello(2)">Livello 3</button>
        </div>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="step === 1">
    <mat-card-header>
        <mat-card-title>Trova le differenze</mat-card-title>
        <mat-card-subtitle>Attenzione e abilità visuo-percettive</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Trova le differenze tra le due immagini:</p>
        <p>Differenza: {{differenzeTrovate}} / {{totaleDifferenze}} </p>
        <div class="immagini-container">
            <img [src]="immagineSinistra" alt="Immagine sinistra">
            <button class="overlay-button" (click)="contaErrori()"></button>
            <button *ngFor="let btn of generaBtns"
                    class="overlay-overlay-button"
                    [id]="btn.id"
                    [style.bottom]="btn.bottom"
                    [style.right]="btn.right"
                    [style.width]="btn.width"
                    [style.height]="btn.height"
                    (click)="contaDifferenze('#' + btn.id)">
            </button>
            <img [src]="immagineDestra" alt="Immagine destra">
        </div>
    </mat-card-content>
    <mat-card-actions>
        <p style="color:gray; font-size: 10px">{{(timeMillis/1000).toFixed(0)}} s</p>
    </mat-card-actions>
</mat-card>
    <mat-card *ngIf="step === 2" style="width: 400px; height: 120px;">
        <mat-card-content>
        <p style="font-size: 20px; text-align: center;">Hai trovato tutte le differenze!<br> Ben fatto!</p>
        </mat-card-content>
    </mat-card>