<mat-card>
  <mat-card-header>
    <mat-card-title>
      Somma se i numeri sono scritti in blu, sottrai se sono scritti in rosso.
      Inserisci il risultato corretto.
    </mat-card-title>
    <mat-card-subtitle>Deficit di attenzione divisa</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="step === 1">
    <h2>
      <span *ngFor="let num of numList; let i = index" [ngClass]="colorList[i]">
        {{ num }}
      </span>
    </h2>
  </mat-card-content>

  <mat-card-content *ngIf="step === 2">
    <mat-form-field>
      <mat-label>Inserisci il risultato</mat-label>
      <input matInput type="number" #risultatoInput />
    </mat-form-field>
    <button mat-button (click)="verificaRisultato(risultatoInput.value)">
      Verifica Risultato
    </button>

    <p *ngIf="risultatoVerificato !== null">
      <span *ngIf="risultatoVerificato" style="color: green"
        >Bravo! Risultato corretto.</span
      >
      <span *ngIf="!risultatoVerificato" style="color: red"
        >Ops! Risultato errato. Riprova.</span
      >
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button [disabled]="step === 2" (click)="stepIncrease()" mat-button>
      Avanti
    </button>
    <p style="color: gray; font-size: 10px">
      {{ (timeMillis / 1000).toFixed(0) }} s
    </p>
  </mat-card-actions>
</mat-card>
