<mat-card *ngIf="current_state == 0" class="main_content">
    <mat-card-header class="title">
        <h2>Trova i contrari di questa parola</h2>
        <h4>Hai indovinato {{points}} contrari</h4>
        <p *ngIf="errors>0">errori: {{errors}}</p>
    </mat-card-header>
    <mat-card-content>
        <h2 class="word_to_reorder">{{display}}</h2>
        <div class="check_word">
          <div *ngFor="let word of display_solutions; index as i">
            <p id="{{i}}" class="select_word" (click)="checkContent(i)">{{word}}</p>
          </div>
        </div>
    </mat-card-content>
    </mat-card>
<mat-card *ngIf="current_state == 1" class="win">
    <mat-card-header>
        <h2>Hai completato l'esercizio</h2>
    </mat-card-header>

    <mat-card-footer class="footer">
        <h3>Hai commesso i seguenti errori: {{errors}}</h3>
    </mat-card-footer>
</mat-card>
