.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  min-width: 420px;
  min-height: 200px;
  max-width: 1000px;
}

.titolo-livello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.livello {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.livello div {
  margin: 10px;
  padding: 20px;
  cursor: pointer;
}

.livello img {
  width: 100px;
  height: 100px;
}

.griglia {
  display: flex;
  flex-direction: row;
}
