<link rel="stylesheet" href="../es.style.scss">
<mat-card class="game-container">
  <mat-card-title>Ricerca visiva</mat-card-title>
  <div *ngIf="livelloCorrente === 1" class="livello livello-1">
    <div class="titolo-livello">
      <h2>Trova:</h2>
      <img [src]="targetLivelloUno.src" alt="Target da trovare" />
    </div>
    <div class="griglia">
      <div
        *ngFor="let elemento of elementiLivelloUno"
        (click)="controllaBersaglio(elemento)"
      >
        <img [src]="elemento.src" [alt]="elemento.nome" />
      </div>
    </div>
  </div>
  <div *ngIf="livelloCorrente === 2" class="livello livello-2">
    <div class="titolo-livello">
      <h2>Trova:</h2>
      <img [src]="targetLivelloDue.src" alt="Target da trovare" />
    </div>
    <div class="griglia">
      <div
        *ngFor="let elemento of elementiLivelloDue"
        (click)="controllaBersaglio(elemento)"
      >
        <img [src]="elemento.src" [alt]="elemento.nome" />
      </div>
    </div>
  </div>
  <div *ngIf="livelloCorrente === 3" class="livello livello-3">
    <div class="titolo-livello">
      <h2>Trova:</h2>
      <img [src]="targetLivelloTre.src" alt="Target da trovare" />
    </div>
    <div class="griglia">
      <div
        *ngFor="let elemento of elementiLivelloTre"
        (click)="controllaBersaglio(elemento)"
      >
        <img [src]="elemento.src" [alt]="elemento.nome" />
      </div>
    </div>
  </div>
  <mat-card-actions>
    <p style="color: gray; font-size: 10px">
      {{ (timeMillis / 1000).toFixed(0) }} s
    </p>
  </mat-card-actions>
  <div *ngIf="livelloCorrente === 4" class="livello livello-4">
    <h2>Complimenti, hai completato i livelli!</h2>
  </div>
</mat-card>
