<mat-card>
  <mat-card-header>
    <h2>Ricomponi la parola</h2>
  </mat-card-header>
  <mat-card-content *ngIf="current_state == 0">
    <h2 class="word_to_reorder">{{ blend }}</h2>

    <div class="check_word">
      <mat-form-field>
        <mat-label>Inserisci la parola giusta</mat-label>
        <input matInput placeholder="" (keyup)="onKey($event)" class="input" />
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="current_state == 1">
    <p>Hai commesso {{ errors }} errori</p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <mat-card-actions>
      <button (click)="checkContent()" mat-button>Avanti</button>
      <p style="color: gray; font-size: 10px">
        {{ (timeMillis / 1000).toFixed(0) }} s
      </p>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
