<div class="login-component">
  <mat-card class="example-card">
    <mat-card-header class="login-header">
      <mat-card-title class="login-title">Login</mat-card-title>
      <mat-card-subtitle class="login-text"
        >Effettua il login con le tue credenziali</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="login-content">
      <div class="login-form">
        <mat-form-field class="login-input">
          <input
            matInput
            [(ngModel)]="username"
            id="username"
            placeholder="Username"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field class="login-input">
          <input
            matInput
            [(ngModel)]="password"
            id="password"
            placeholder="Password"
            type="password"
            required
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="login-actions">
      <button (click)="login()" mat-button class="login-button">Login</button>
      <a href="#" class="register-link">Registra utente</a>
    </mat-card-actions>
  </mat-card>
</div>
