<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Operatori</mat-card-subtitle>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Effettua il login con le tue credenziali</p>
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="username" id="username" placeholder="Username"> 
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput [(ngModel)]="password" id="password" placeholder="Password" type="password">
            </mat-form-field>
        </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="login()" mat-button>LOGIN</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar  *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>