<mat-card>
    <mat-card-header>
        <mat-card-title>Unisci i punti alfanumeri</mat-card-title>
        <mat-card-subtitle>Attenzione divisa e flessibilità cognitiva</mat-card-subtitle>
    </mat-card-header>
    <div class="grid-container">
        <div *ngFor="let punto of punti" class="grid-item" [ngClass]="{'selected': puntiUniti.includes(punto.label)}"
            (click)="selezionaPunto(punto)" [style.top.%]="punto.y" [style.left.%]="punto.x">
            {{ punto.label }}
        </div>
    </div>
    <div *ngIf="messaggio">{{ messaggio }}</div>
</mat-card>