<mat-card>
    <mat-card-header>
      <mat-card-title>Somma i numeri pari e
        sottrai i numeri dispari in
        sequenza</mat-card-title>
      <mat-card-subtitle>Deficit di flessibilità
        mentale</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="step === 1">
        <h2 *ngFor="let numero of numList">{{numero}}</h2>
    </mat-card-content>
    <mat-card-content *ngIf="step === 2">
        <mat-form-field >
            <mat-label>Inserisci il risultato</mat-label>
            <input matInput (change)="aggiornaRisposte($event.target)"/>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="step === 3">
        <p *ngIf="errori == 0">Bravo!, il numero inserito è uguale al risultato</p>
        <p *ngIf="errori == 1">Hai sbagliato!</p>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="step==3" (click)="stepIncrease()" mat-button>Avanti</button>
      <p style="color:gray; font-size: 10px">{{(timeMillis/1000).toFixed(0)}} s</p>
      <button mat-button (click)="resetVar()">Ricomincia</button>
      <div>
        <label class="">Livello di difficoltà:</label>
        <button mat-button (click)="treNumeri()">1</button>
        <button mat-button (click)="cinqueNumeri()">2</button>
        <button mat-button (click)="setteNumeri()">3</button>
    </div>
    </mat-card-actions>
  </mat-card>