<link rel="stylesheet" href="../es.style.scss">
<mat-card>
  <mat-card-header>
    <mat-card-title>Ricorda il percorso</mat-card-title>
    <mat-card-subtitle>Apprendimento e memorizzazione</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="step === 1" style="height: 350px">
    <p>Inserire il livello di difficoltà</p>
    <div class="livello">
      <button
        class="livello"
        (click)="setLivello(4); stepIncrease()"
        mat-raised-button
      >
        1
      </button>
      <button
        class="livello"
        (click)="setLivello(6); stepIncrease(); cliccato = true; nCliccati = 0"
        mat-raised-button
      >
        2
      </button>
      <button
        class="livello"
        (click)="setLivello(8); stepIncrease(); cliccato = true; nCliccati = 0"
        mat-raised-button
      >
        3
      </button>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="step === 2" style="height: 270px">
    <p>Memorizza la sequenza di luci</p>
    <div id="contenitore">
      <button
        *ngFor="let immagini of arrayluci; index as i"
        class="luce-{{ arrayluci[i] }}"
      ></button>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="step === 3" style="height: 270px">
    <p>Ricomponi la sequenza di luci</p>
    <div id="contenitore">
      <button
        class="luce"
        *ngFor="let luce of arrayCliccato; index as i"
        [disabled]="arrayCliccato[i] == 1 || nCliccati == nAccensioni"
        (click)="arrayCliccato[i] = 1; sequenzaSelezionata(i)"
      ></button>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="step === 4">
    <p>Hai completato l'esercizio.</p>
    <p>Errori commessi: {{ errori }}</p>
  </mat-card-content>
  <mat-card-actions>
    <!--Bottone avanti non necessario-->
    <button
      [disabled]="
        step === 4 || step == 1 || step == 3 || step == 2 || cliccato == false
      "
      (click)="stepIncrease()"
      mat-button
    >
      Avanti
    </button>
    <p *ngIf="step === 3" style="color: gray; font-size: 10px">
      {{ (timeMillis / 1000).toFixed(0) }} s
    </p>
  </mat-card-actions>
</mat-card>
