<mat-card>
    <mat-card-header>
        <mat-card-title>Immagini sequenza</mat-card-title>
        <mat-card-subtitle>Memorizza la sequenza di immagini</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="step === 1">
        <Img [src]="immagineCorrente.src" alt="Immagine da memorizzare" />
    </mat-card-content>
    <mat-card-content *ngIf="step === 2 && livello === 1">
        <div class="allElements">
            <Img (click)="seleziona(0)" [src]="elementiLivello1[0].src" alt="Immagine da selezionare" />
            <Img (click)="seleziona(1)" [src]="elementiLivello1[1].src" alt="Immagine da selezionare" />
            <Img (click)="seleziona(2)" [src]="elementiLivello1[2].src" alt="Immagine da selezionare" />
            <Img (click)="seleziona(3)" [src]="elementiLivello1[3].src" alt="Immagine da selezionare" />
            <Img (click)="seleziona(4)" [src]="elementiLivello1[4].src" alt="Immagine da selezionare" />
            <Img (click)="seleziona(5)" [src]="elementiLivello1[5].src" alt="Immagine da selezionare" />
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="step === 2 && livello === 2">
        <div class="allElements">
            <Img [src]="elementiLivello2[0].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello2[1].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello2[2].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello2[3].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello2[4].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello2[5].src" alt="Immagine da selezionare" />
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="step === 2 && livello === 3">
        <div class="allElements">
            <Img [src]="elementiLivello3[0].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello3[1].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello3[2].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello3[3].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello3[4].src" alt="Immagine da selezionare" />
            <Img [src]="elementiLivello3[5].src" alt="Immagine da selezionare" />
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="step === 3">
        <p *ngIf="errori === 0">Hai completato il gioco! Ben fatto!</p>
        <p *ngIf="errori === 1">Hai fatto un solo errore</p>
        <p *ngIf="errori === 1">Hai fatto {{ errori }} errori</p>
    </mat-card-content>
</mat-card>