<mat-card>
  <mat-card-header>
    <h2>Indovina l'oggetto</h2>
  </mat-card-header>
  <mat-card-content *ngIf="current_state == 0">
    <div class="image_container">
      <img src="{{ image_link }}" class="show_image" />
    </div>
    <div class="check_word" *ngIf="current_state == 0">
      <mat-form-field>
        <mat-label>Di che oggetto si tratta?</mat-label>
        <input matInput placeholder="" (keyup)="onKey($event)" class="input" />
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="current_state == 1">
    <p>Hai commesso {{ errors }} errori</p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <mat-card-actions>
      <button (click)="checkContent()" mat-button>Avanti</button>
      <p style="color: gray; font-size: 10px">
        {{ (timeMillis / 1000).toFixed(0) }} s
      </p>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
