* {
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
a,
span {
  width: 100%;
}

.word_to_reorder {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dif-selection {
  margin-left: 7px !important;
  scale: 0.8 !important;
}
.win {
  padding: 10px !important;
}

.footer {
  display: flex;
  margin-top: 10px !important;
  margin-left: 7px !important;
}
