<link rel="stylesheet" href="../es.style.scss" />
<mat-card *ngIf="current_state == 0" class="main_content">
  <mat-card-header class="header">
    <p *ngIf="errors > 0">errori: {{ errors }}</p>
    <h2 class="title">Completa il dialogo inserendo la parola mancante</h2>
    <h3>Sostituisci lo spazio "___" con una delle scelte sottostanti</h3>
  </mat-card-header>

  <mat-card-content class="body_of_card">
    <h3 class="word_to_reorder">{{ display }}</h3>
    <div class="content">
      <p class="suggerimento" *ngFor="let suggerimento of consigli">
        {{ suggerimento }}
      </p>
    </div>
    <form class="check_word">
      <mat-form-field>
        <mat-label>Inserisci una parola</mat-label>
        <input class="input" matInput placeholder="" (keyup)="onKey($event)" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer class="footer">
    <mat-card-actions>
      <button (click)="checkContent()" mat-button>Controlla</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
<mat-card *ngIf="current_state == 1" class="win">
  <mat-card-header>
    <h1>Congratualzioni</h1>
  </mat-card-header>
  <mat-card-content>
    <p>La frase completa era:</p>
    <h2>
      <strong>"{{ complete_string }}"</strong>
    </h2>
  </mat-card-content>
  <mat-card-footer class="footer">
    <p>Hai completato l'esercizio con errori pari a: {{ errors }}</p>
  </mat-card-footer>
</mat-card>
