*{
    text-align: center;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

p,
h1,
h2,
h3,
h4,
a,
span
{
    width: 100%;
    text-align:center;
}
.main_content{
  transform:translateY(20%);

}
.word_to_reorder{
    padding-top:10px;
    padding-bottom:10px;
    max-width: 600px!important;
}

.dif-selection{
    margin-left: 15px!important;
    scale: 0.8!important;
}
.win{
    padding: 10px!important;
}

.footer{
    margin-top:10px!important;
}

.text_above_input{
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.title,.stats{
    width: 100%!important;
}

.header,.body_of_card{
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
}

.content{
    justify-self: center;
    align-self: center;
    width: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.win,.lose{
    padding:15px!important;
}

.suggerimento{
    width: fit-content;
    font-size: 19px;
    margin:8px;
    padding:8px;
    border-radius: 3px;
    border: 1px solid black;
}

.suggerimento:hover{
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: 1px solid #00000070;
  cursor:pointer;
}

.red{
  background-color: #fa3c3ca0;
}

.green{
  background-color:#6bed71a0;
}

.main_content{
  padding:20px;
  size: 1.1;
}



