*{
    text-align: center;
}

p,
h1,
h2,
h3,
h4,
a,
span
{
    width: 100%;
    text-align:center;
}

.word_to_reorder{
    padding-top:10px;
    padding-bottom:10px;
    max-width: 600px!important;
}

.dif-selection{
    margin-left: 7px!important;
    scale: 0.8!important;
}
.win{
    padding: 10px!important;
}

.footer{
    margin-top:10px!important;
}

.text_above_input{
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.title,.stats{
    width: 100%!important;
}

.header,.body_of_card{
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
}

.content{
    justify-self: center;
    align-self: center;
    width: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.win,.lose{
    padding:15px!important;
}

.suggerimento{
    width: fit-content;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding:5px;
    border-radius: 5px;
    border: 1px solid black;
}