<mat-card *ngIf="current_state == 0" class="main_content">
    <mat-card-header class="header">
        <h2 class="title">Completa il dialogo inserendo la parola mancante</h2>
        <h3>Seleziona l'opzione che secondo te è più adatta tra quelle sottostanti</h3>
        <p *ngIf="errors>0">errori: {{errors}}</p>
    </mat-card-header>

    <mat-card-content class="body_of_card">
        <h3 class="word_to_reorder">{{display}}</h3>
        <div class="content">
          <p class="suggerimento elem{{i}}" *ngFor="let suggerimento of consigli; index as i" (click)="checkContent(i)">{{suggerimento}}</p>
        </div>
    </mat-card-content>
</mat-card>

