<mat-toolbar class="main-toolbar">
  <a mat-a class="example-home" aria-label="Home" [routerLink]="['/home']">
    <img src="/assets/mnemosine-logo-dark.svg" alt="Return to home" />
    <div class="example-title">Mnemosine</div>
  </a>
  <span class="example-spacer"></span>
  <a
    mat-icon-button
    class="example-icon"
    aria-label="Login"
    [routerLink]="['/login']"
  >
    <mat-icon>login</mat-icon>
  </a>
  <a
    mat-icon-button
    class="example-icon"
    aria-label="Esercizi"
    [routerLink]="['/esercizi']"
  >
    <mat-icon>link</mat-icon>
  </a>
</mat-toolbar>

<body>
  <!-- <app-progress class="progress" *ngIf="showProgress"></app-progress> -->
  <div class="route">
    <router-outlet></router-outlet>
  </div>
</body>
