<mat-card>
  <mat-card-header>
    <mat-card-title>Assegna Esercizio</mat-card-title>
    <mat-form-field>
      <mat-label>Seleziona un utente</mat-label>
      <mat-select [(value)]="selectedUser">
        <mat-option *ngFor="let user of users" [value]="user._id">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-header>
  <div class="no-exercises" *ngIf="esercizi.length === 0">
    <p>Aggiungi un esercizio per iniziare</p>
  </div>
  <mat-card-content>
    <div class="exercise-container">
      <div
        *ngFor="let esercizio of esercizi; let i = index"
        class="exercise-group"
      >
        <mat-label>Seleziona esercizio {{ i + 1 }}</mat-label>
        <mat-form-field>
          <mat-label>Numero </mat-label>
          <mat-select [(value)]="esercizio.id">
            <mat-option value="101">
              101 - Memorizza la lista di parole
            </mat-option>
            <mat-option value="103"> 103 - Span numerico </mat-option>
            <mat-option value="104"> 104 - Span di lettere </mat-option>
            <mat-option value="105"> 105 - Ricorda l’immagine </mat-option>
            <mat-option value="106"> 106 - Ricorda il percorso </mat-option>
            <mat-option value="108"> 108 - Span numerico inverso </mat-option>
            <mat-option value="109"> 109 - Span alfabetico inverso </mat-option>
            <mat-option value="110"> 110 - Ricorda le città </mat-option>
            <mat-option value="201"> 201 - Barrage </mat-option>
            <mat-option value="202"> 202 - Unisci i punti numerici </mat-option>
            <mat-option value="203">
              203 - Unisci i punti alfanumerici
            </mat-option>
            <mat-option value="204"> 204 - Ricerca visiva </mat-option>
            <mat-option value="205"> 205 - Trova la differenza </mat-option>
            <mat-option value="209"> 206 - Riflessi </mat-option>
            <mat-option value="301">
              301 - Ordina i numeri in ordine crescente
            </mat-option>
            <mat-option value="302">
              302 - Ordina i numeri in ordine decrescente
            </mat-option>
            <mat-option value="303">
              303 - Ordina le parole in ordine alfabetico
            </mat-option>
            <mat-option value="304"> 304 - Completa la sequenza </mat-option>
            <mat-option value="307">
              307 - Alternanza di operazioni
            </mat-option>
            <mat-option value="401"> 401 - Anagramma </mat-option>
            <mat-option value="402">
              402 - Completa la parola ascoltata
            </mat-option>
            <mat-option value="403"> 403 - Come si chiama? </mat-option>
            <mat-option value="405"> 405 - Fluenza fonemica </mat-option>
            <mat-option value="406"> 406 - Completa le frasi </mat-option>
            <mat-option value="407"> 407 - Trova il sinonimo </mat-option>
            <mat-option value="408"> 408 - Trova il contrario </mat-option>
            <mat-option value="410"> 410 - Completa il dialogo </mat-option>
            <mat-option value="504"> 504 - Puzzle </mat-option>
            <mat-option value="505"> 505 - Completa l'immagine </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Difficoltà</mat-label>
          <mat-select [(value)]="esercizio.difficulty">
            <mat-option value="1">1 - Facile</mat-option>
            <mat-option value="2">2 - Intermedio</mat-option>
            <mat-option value="3">3 - Avanzato</mat-option>
          </mat-select>
        </mat-form-field>

        <button (click)="remexe(i)">Rimuovi Esercizio</button>
      </div>
    </div>

    <div class="fill-remaining-space"></div>

    <div class="button-group">
      <button color="accent" (click)="addexe()">Aggiungi Esercizio</button>
      <button color="primary" (click)="assign()">Assegna</button>
    </div>
  </mat-card-content>
</mat-card>
