<mat-card *ngIf="current_state == 0">
    <mat-card-header class="title">
        <h2>Trova i sinonimi di questa parola</h2>
        <h4>Hai indovinato {{points}} sinonimi</h4>
        <p *ngIf="errors>0">errori: {{errors}}</p>
    </mat-card-header>  
    <mat-card-content>
        <h2 class="word_to_reorder">{{display}}</h2>
        <form class="check_word">
            <mat-form-field>
                <mat-label>Inserisci il sinonimo</mat-label>
                <input matInput placeholder="" (keyup)="onKey($event)" class="input">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-footer class="footer">
        <mat-card-actions>
            <button (click)="checkContent()" mat-button >Controlla</button>

        <mat-form-field class="dif-selection">
            <mat-label>Difficolta'</mat-label>
            <mat-select [(value)]="level">
                <mat-option value="0" (click)="setWord()">Facile</mat-option>
                <mat-option value="1" (click)="setWord()">Medio</mat-option>
                <mat-option value="2" (click)="setWord()">Difficile</mat-option>
        </mat-select>
        </mat-form-field>
    </mat-card-actions>
    </mat-card-footer>
</mat-card>
<mat-card *ngIf="current_state == -1" class="lose">
    <mat-card-header>
        <h2>Hai commesso 10 errori</h2>
    </mat-card-header>
    <mat-card-content>
        <h2>Queste erano le possibili soluzioni: </h2>
        <div class="list_of_words">
            <h3 *ngFor="let item of selectedArray" class="possible_word">{{item}}</h3>
        </div>
    </mat-card-content>  
    <mat-card-footer class="footer">
        <h3>Hai indovinato i seguenti sinonimi: {{points}}</h3>
    </mat-card-footer>
</mat-card>
<mat-card *ngIf="current_state == 1" class="win">
    <mat-card-header>
        <h2>Hai indovinato tutti i possibili sinonimi!</h2>
    </mat-card-header>
    <mat-card-footer class="footer">
        <h3>Hai indovinato i seguenti sinonimi: {{points}}</h3>
    </mat-card-footer>
    <mat-card-footer class="footer">
        <h3>Hai commesso i seguenti errori: {{errors}}</h3>
    </mat-card-footer>
</mat-card>
