<mat-card class="session-card">
  <mat-card-header>
    <mat-card-title>Gestione sessioni</mat-card-title>
  </mat-card-header>
  <div class="no-sessions" *ngIf="sessions.length === 0">
    <p>Assegna un esercizio per iniziare!</p>
  </div>
  <mat-card-content>
    <mat-accordion class="session-accordion" multi>
      <mat-expansion-panel *ngFor="let session of sessions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ session.sessionName }}
          </mat-panel-title>
          <mat-panel-description class="session-info">
            <!-- Verifica se session.userDetails è definito prima di accedere a username -->
            <ng-container
              *ngIf="session.userDetails?.username; else noUsername"
            >
              Assegnata a <strong>{{ session.userDetails.username }}</strong>
              <span [ngClass]="getSessionStatusClass(session.status)">
                {{ getSessionStatusText(session.status) }}
              </span>
            </ng-container>
            <ng-template #noUsername>
              <span>Sconosciuto</span>
            </ng-template>
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngIf="session.status === 'ended'">
          <strong>Risultati sessione</strong>
          <table
            mat-table
            [dataSource]="session.results"
            class="mat-elevation-z8 result-table"
          >
            <!-- Numero Progressivo -->
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <!-- Esercizio -->
            <ng-container matColumnDef="esercizio">
              <th mat-header-cell *matHeaderCellDef>Esercizio</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ session.exercises[i]?.id || '-' }}
              </td>
            </ng-container>

            <!-- Errori -->
            <ng-container matColumnDef="errori">
              <th mat-header-cell *matHeaderCellDef>Errori</th>
              <td mat-cell *matCellDef="let element">{{ element.errors }}</td>
            </ng-container>

            <!-- Tempo -->
            <ng-container matColumnDef="tempo">
              <th mat-header-cell *matHeaderCellDef>Tempo (s)</th>
              <td mat-cell *matCellDef="let element">
                {{ (element.time / 1000).toFixed(2) }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
