<mat-card>
  <mat-card-header>
    <mat-card-title>Puzzle</mat-card-title>
    <mat-card-subtitle>Ricostruisci l'immagine mettendo insieme i pezzi del puzzle</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="step === 1">
    <div
      class="allElements"
      [style.display]="'grid'"
      [style.gridTemplateColumns]="'repeat(' + nColonne + ', 1fr)'"
    >
      <button
        class="image"
        *ngFor="let i of puzzle; let index = index"
        [disabled]="!i.active"
        (click)="selezionaCelle(index)"
      >
        <img
          [class]="'lvl' + livello + '-image'"
          [src]="i.src"
          alt="pezzo di puzzle"
        />
      </button>
    </div>
    <p style="color: red">
      Seleziona le immagini in ordine da sinistra verso destra, per favore
    </p>
    <div class="selezionabili">
      <button class="image" *ngFor="let i of selezionabili">
        <img [src]="i.src" alt="pezzo di puzzle selezionabile" />
      </button>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="step === 2;" style="height: 150px;">
    <p>Esercizio completato! Errori commessi: {{errori}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="step != 2" (click)="nextExercise()" mat-button>
      Avanti
    </button>
    <p style="color: gray; font-size: 10px; float: left;">
      {{(timeMillis / 1000).toFixed(0)}} s
    </p>
  </mat-card-actions>
</mat-card>
