// TEMP
mat-card {
  text-align: center;
  padding: 10px;
}

// TEMP
mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.allElements {
    display: grid;
}

.image {
    all: unset;
}