mat-card {
width: 500px;
height: 1000px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    width: max-content;
    margin: 20px auto; 
  }
  
  .grid-button {
    width: 60px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    background-image: image('assets/images_es504/Bianco.png');
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .grid-button:hover {
    background-color: #0056b3;
  }
  
  .image-row {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    width: max-content;
    margin: 20px auto;
  }
  
  .image-slot {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .image-slot img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }