* {
  box-sizing: border-box;
  all: unset;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
}

.container {
  display: flex;
  width: calc(100vw - 15px);
  height: calc(100vh - 66px);
  margin-top: 16px;
  justify-content: space-between;
}

.left-panel {
  width: 100%;
}

.right-panel {
  display: grid;
  flex-direction: column;
  width: 100%;
}
