<h1>Esercizi disponibili</h1>

<p>Scegli un esercizio e naviga</p>

<div class="example-container">
    <mat-form-field appearance="outline">
        <mat-label>Inserisci l'ID dell'esercizio</mat-label>
        <input matInput name="url" #urlInput (keydown.enter)="click(urlInput.value)"/>
        <mat-hint>Ad esempio: 101, 102, ...</mat-hint>
        <button
          mat-icon-button
          matSuffix
          (click)="click(urlInput.value)"
        >
        <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
</div>
