.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container mat-form-field {
  width: 100%;
}

.example-container mat-form-field + mat-form-field {
  margin-top: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  appearance: textfield;
  -moz-appearance: textfield; // Per Firefox
}
