<mat-card>
  <mat-card-header>
    <mat-card-title>Riordina le parole in ordine alfabetico</mat-card-title>
    <mat-card-subtitle>Ragionamento e linguaggio</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="step === 1" style="height: 350px">
    <p>Inserire il livello di difficoltà</p>
    <div class="livello">
      <button
        class="livello"
        (click)="step = 2; setParole(3)"
        mat-raised-button
      >
        1
      </button>
      <button
        class="livello"
        (click)="step = 2; setParole(6)"
        mat-raised-button
      >
        2
      </button>
      <button
        class="livello"
        (click)="step = 2; setParole(9)"
        mat-raised-button
      >
        3
      </button>
    </div>

    <!-- Tre content diversi che cambiano altezza in base alla quantità di parole -->
  </mat-card-content>
  <mat-card-content *ngIf="step === 2 && nParole == 3" style="height: 150px">
    <h2 *ngFor="let word of arrayParole">{{ word }}</h2>
  </mat-card-content>
  <mat-card-content *ngIf="step === 2 && nParole == 6" style="height: 300px">
    <h2 *ngFor="let word of arrayParole">{{ word }}</h2>
  </mat-card-content>
  <mat-card-content *ngIf="step === 2 && nParole == 9" style="height: 450px">
    <h2 *ngFor="let word of arrayParole">{{ word }}</h2>
  </mat-card-content>

  <!-- Tre content diversi che cambiano altezza in base alla quantità di parole -->
  <mat-card-content *ngIf="step === 3 && nParole == 3" style="height: 300px">
    <p>Riscrivi le parole in ordine alfabetico</p>
    <mat-form-field *ngFor="let i of nNumeri">
      <mat-label>Inserisci la parola n. {{ i }}</mat-label>
      <input matInput (change)="aggiornaArray($event.target, i)" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-content *ngIf="step === 3 && nParole == 6" style="height: 530px">
    <p>Riscrivi le parole in ordine alfabetico</p>
    <mat-form-field *ngFor="let i of nNumeri">
      <mat-label>Inserisci la parola n. {{ i }}</mat-label>
      <input matInput (change)="aggiornaArray($event.target, i)" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-content *ngIf="step === 3 && nParole == 9" style="height: 750px">
    <p>Riscrivi le parole in ordine alfabetico</p>
    <mat-form-field *ngFor="let i of nNumeri">
      <mat-label>Inserisci la parola n. {{ i }}</mat-label>
      <input matInput (change)="aggiornaArray($event.target, i)" />
    </mat-form-field>
  </mat-card-content>

  <mat-card-content *ngIf="step === 4" style="height: 110px">
    <p>Esercizio completato! Errori commessi: {{ errori }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="step == 1" (click)="nextStep()" mat-button>
      Avanti
    </button>
    <p style="color: gray; font-size: 10px">
      {{ (timeMillis / 1000).toFixed(0) }} s
    </p>
  </mat-card-actions>
</mat-card>
