mat-card {
  margin: 10px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-content{
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.livello {
  height: 300px;
  width: 50px;
  margin: 0 auto;
}

button.livello {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0px;
  background-color: white;
  font-size: 20px;
}

button.selezione {
  margin: 0 auto;
  width: 200px;
  margin-top: 10px;
}

button.livello:hover,
button.selezione:hover {
  background-color: rgba(224, 224, 224, 0.966);
  border-radius: 5px;
}
