<h1>Benvenuto, UtenteDemo</h1>
<p>Accedi ora alla tua sessione pianificata di esercizi</p>

<div class="card-container" *ngFor="let session of sessions">
  <div class="card" >
    <!--first 3 chars-->
    <h3>Sessione {{session.sessionName}}</h3>
    <p *ngIf="session.exercises.length > 2" style="color: gray;">Include {{session.exercises.length}} esercizi</p>
    <p *ngIf="session.exercises.length == 1" style="color: gray;">Include un solo esercizio.</p>
    <button mat-raised-button (click)="startSession(session._id)">Inizia</button>
  </div>
</div>

<div class="card-container" *ngIf="!sessionPresent">
    <div class="card-no" >
      <h3>Nessuna sessione disponibile</h3>
      <p>Ritorna più tardi o attendi informazioni dal tuo caregiver.</p>
    </div>
</div>
